body{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: Arial;
  perspective: 200px;
  perspective-origin: center;
  /* perspective-origin: x y; */
  /* perspective-origin: top; */
  /* perspective-origin: left; */
  /* perspective-origin: right; */
  /* perspective-origin: top right; */
  /* perspective-origin: bottom; */
  }
.container{
  border: 1px solid red;
  width: 100%;
}
.container:hover .cuadrado{
  animation-play-state: paused
}
.cuadrado{
  width: 200px;
  height: 200px;
  background: red;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: .3s; */
  /* animation-name: cuadrado, rebote; */
  /* animation-delay: 1s; */
  /* animation-duration: 3s, .3s; */
  /* animation-iteration-count: infinite, 20; */
  /* animation-timing-function:  */
  /* transform-origin: rig */
  /* animation-direction:  */
  /* transition:  */
  /* animation-timing-function:  */
  /* animation-fill-mode: forwards;  */
  position: relative;
  transition: .3s;
  will-change: opacity;
}
.cuadrado:hover{
  opacity: 0;
}
@keyframes cuadrado {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    left: calc(100% - 240px);
  /* opacity: 0; */
  }
}
@keyframes escalera{
  from{
    transform: translateY(0)
  }
  to{
    transform: translateY(500px)    
  }
}
@keyframes rebote{
  from{
    transform: translateY(0) scale(1, .8)
  }
  to{
    transform: translateY(100px)
  }
}
